*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(0, 0, 0);
    color: #48ff00;
    width: 900px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

img{
    width: 900px;
    padding: 100px;
    text-align: center;

}
section{
    background-color: rgb(0, 0, 0);
    margin: 9px;
    height: 90px;
    padding: 30px;
    padding-top: 30px;
    margin: 0 0 10px 0;
    
}
button{
    font-size: 15px;
    border-radius: 10px;
    background-color: #48ff00;
}
